html {
    text-align: center;
    font-family: Ink Free;
    //background-image: url("../img/rocha1.png");
}

a {
    -webkit-text-fill-color: transparent;
    background-image: url("../img/rubi.png");
}